<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9 camps-card-space">

            <div class="" ng-repeat="item in coaches">
                <div class="camps-media-card" ng-click="handleItemClick(item)">
                    <img ng-src="./images/coach.png" alt="Img">

                    <div class="camps-media-card-body">
                        <div class="camps-media-card-title">
                            <h1>
                                {{item.name}}
                            </h1>
                        </div>
                        <div class="camps-media-card-leader">
                            <h2>职业 <span>{{item.desc}}</span></h2>
                        </div>
                        <div class="camps-media-card-short-line"></div>
                        <div class="camps-media-card-description">
                            <h2>聊天,游泳,文体活动</h2>
                        </div>
                    </div>
                    <div class="camps-media-card-footer">
                        <span class="glyphicon glyphicon-heart"></span> <span>249</span> &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-eye-open"></span> <span>2368</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 camps-panel-space">
            <user-typehead on-selected="handleItemClick(user)" which-role="coach" glyphicon-class="glyphicon-search"></user-typehead>
            <button class="btn btn-primary center-block camps-panel-submit">成为教练</button>
        </div>
    </div>

</div>