<div>
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-sm-6">
				<h4>任务描述</h4>
			</div>
			<div class="col-sm-3">
				<h4>截止时间</h4>
			</div>
			<div class="col-sm-3">
				<h4>工时</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="modal.content.description">
			</div>
			<div class="col-sm-3">
				<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="modal.content.duedate"
						   datepicker-options="gOptions.datePicker"
						   ng-required="true" is-open="isDatePickerOpen" close-text="关闭"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="isDatePickerOpen = !isDatePickerOpen;"><i
								class="glyphicon glyphicon-calendar"></i> </button>
					</span>
				</p>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="modal.content.effort">`
			</div>

		</div>
        <div class="row">
            <div class="col-sm-3" style="display: table">
                <h4>责任人:</h4>
                <span class="text-left" style="display: table-cell; vertical-align: middle" ng-show="modal.content.assignee == null">暂未分配</span>
                <camps-user-head user="modal.content.assignee" ng-show="!!modal.content.assignee" width="40" height="40" style="display: table-cell; vertical-align: middle"></camps-user-head>
            </div>
            <div class="col-md-3">
                <user-typehead which-role="player" on-selected="modal.content.assignee = user;" glyphicon-class="glyphicon-ok" max-width="200">
                </user-typehead>
            </div>
        </div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
	</div>	
</div>

