*{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}


.camps-navbar-height {
    height:51px;
}

.camps-nav-footer{
    margin-top: 50px;
    padding-top: 10px;
    color: #6B7C93;
    text-align: center;
    border-top: #6B7C93 1px solid;
}

.camps-head-strip {
    height:150px;
    margin-bottom: 20px;
}

.camps-head-strip > div {
    margin-top: 50px;
}

.camps-parent-width {
    width:100%;
}

.camps-bordered {
    border: #989898 1px solid;
    padding: 5px;
}

.camps-media-card {
    margin-top: 35px;
    margin-bottom: 35px;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
}
