<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <h3 class="col-md-offset-2 col-md-10">新建项目</h3>
        </div>
        <div class="form-group">
            <label for="id-camps-create-project-name" class="col-md-2 control-label ">名字:</label>
            <div class="col-md-10">
                <input type="text" class="form-control camps-short-field" id="id-camps-create-project-name" placeholder="名字" ng-model="form.name">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-md-2">项目范围:</label>
            <div class="col-md-10">
                <textarea cols="30" rows="10" ng-model="form.scope" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label col-md-2">关联创意:</label>
            </div>
            <div class="col-md-10">
                <div><span>{{ideaName ? ideaName : "尚未关联任何创意"}}</span></div>
                <div><idea-typehead on-selected="onIdeaSelected(idea)" max-width="200"></idea-typehead></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <labbel>
                        <input type="checkbox" ng-model="checked"> 我代表团队,理解并遵守 <a href="#">项目运作协议</a>的内容
                    </labbel>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <button class="btn btn-primary" ng-click="onSubmitButton()">创建项目</button>
            </div>
        </div>
    </form>
</div>
