<div class="bg-primary container-fluid camps-head-strip">
    <div class="camps-parent-width">
        <h1 class="text-center">项目 让我们动手来让这些创新落地 </h1>
    </div>
</div>

<div class="container">
    <div class="row" class="camps-team-submit-panel">
        <div class="col-md-3">
            <h3 class="center-block">项目列表</h3>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary center-block camps-team-submit" ui-sref="nav.createProject">创建项目</button>
        </div>
        <div class="col-md-3">
            <project-typehead glyphicon-class="glyphicon-search" on-selected="handleProjectClicked(project)"></project-typehead>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div ng-repeat="project in projects">
                <a ng-click="handleProjectClicked(project)">
                    <div class="media camps-media-card" >
                        <div class="media-left">
                            <img src="images/stars_logo.jpg" alt="Img">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{project.name}}
                            </h4>
                            {{project.scope}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
