<div class="container">
    <div class="row">
        <div class="col-xs-9 camps-card-space">
            <div class="row">
                <div class="camps-idea-d-title">
                    <span>{{theProject.name}}</span>
                    <input type="text" class="form-control" ng-model="form.name" ng-show="isNameEditing">
                    <button class="btn btn-primary pull-right" ng-click="onDataEdit(['name'], 'isNameEditing')">{{isNameEditing ? "完成":"修改"}}</button>
                    <button class="btn btn-default pull-right" ng-click="isNameEditing=false;" ng-show="isNameEditing">取消</button>
                </div>
            </div>

            <div class="row">
                <div class="camps-idea-d-text-section">
                    项目范围:
                    <span ng-hide="isScopeEditing"><span ng-bind="theProject.scope"></span></span>
                    <span ng-show="isScopeEditing">
                        <textarea class='form-control' cols="30" rows="10" ng-model="form.scope" ></textarea>
                    </span>

                    <button class="btn btn-primary pull-right" ng-click="onDataEdit(['scope'], 'isScopeEditing')">{{isScopeEditing ? "完成":"修改"}}</button>
                    <button class="btn btn-default pull-right" ng-click="isScopeEditing=false;" ng-show="isScopeEditing">取消</button>
                </div>
            </div>

            <div class="row">
                <div class="camps-idea-d-text-section">
                        <span>创意:</span>
                        <span>
                            <a ng-click="handleIdeaLink()">{{theProject.relatedIdea.name}}</a>
                        </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="camps-idea-d-text-section">
                        Backlog:
                        <div ui-sortable="sortableOptions" ng-model="list" class="list-group">
                            <a ng-repeat="item in list" class="list-group-item">
                                <span>{{item}}</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="camps-idea-d-text-section">
                        Task:
                        <ul class="list-group">
                            <li class="list-group-item">Task1</li>
                            <li class="list-group-item">Task2</li>
                            <li class="list-group-item">Task3</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="camps-idea-d-text-section">
                    <span>项目人员:</span>
                        <!--<span>-->
                            <!--<a ng-click="handleTeamLink()">{{theTeam.name}}</a>-->
                            <!--&lt;!&ndash;<span ng-show="isEditing"><user-typehead on-selected="form.leader = user;"></user-typehead></span>&ndash;&gt;-->
                        <!--</span>-->
                </div>
            </div>

            <div class="row">
                <div class="camps-idea-d-text-section">
                    队长: &nbsp;
                    <camps-user-head user="theTeam.lead" width="60" height="60"></camps-user-head>
                </div>
            </div>
            <div class="row">
                <div class="camps-idea-d-text-section">
                    成员: &nbsp;
                    <span ng-repeat="user in theTeam.member">
                        <span class="camps-team-d-members">
                            <camps-user-head user="user" width="60" height="60"></camps-user-head>
                        </span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="camps-idea-d-text-section">
                    教练: &nbsp;
                    <camps-user-head user="theTeam.coach" width="60" height="60"></camps-user-head>
                </div>
            </div>

        </div>
        <div class="col-xs-3 camps-panel-space">

        </div>
    </div>

</div>













