.camps-project-d-wbs .list-group {
    margin-top: 10px;
}

.camps-project-d-attachments>a {
    width: 100px;
    margin: 10px 20px;
    float: left;
    overflow: hidden;
    display: inline-block;
}

.camps-project-d-attachments .thumbnail .img
{
    display: inline-block;
}
