<div class="bg-primary container-fluid camps-head-strip">
    <div class="camps-parent-width">
        <h1 class="text-center">可重用资产 站在巨人的肩膀上 </h1>
    </div>
</div>

<h2>This page is used as test box at the moment.</h2>

<div class="container">
    <button class="btn btn-default" ng-click="onRefresh()">GetDemos</button>
    <table class="table table-bordered">
        <thead>
            <th>Name</th>
            <th>Content</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.content}}</td>
            </tr>
        </tbody>

    </table>

    <div class="alert-danger" ng-show="isError">Error occur!</div>
    <button class="btn btn-default" ng-click="onTest()">TestConfirmStep</button>
    <div class="alert-info">{{result}}</div>
    <button class="btn btn-primary" ng-click="onModalInputTest()">TestModal</button>
    <div class="alert-danger">{{inputText}}</div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="toasterPop()">popToaster</button>
        <button class="btn btn-default" ng-click="toasterClear()">clearToaster</button>
    </div>
</div>