<h2>This page is used as test box at the moment.</h2>

<div class="container">
    <button class="btn btn-default" ng-click="onRefresh()">GetDemos</button>
    <table class="table table-bordered">
        <thead>
            <th>Name</th>
            <th>Content</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.content}}</td>
            </tr>
        </tbody>

    </table>

    <div class="alert-danger" ng-show="isError">Error occur!</div>
    <button class="btn btn-default" ng-click="onTest()">TestConfirmStep</button>
    <div class="alert-info">{{result}}</div>
    <button class="btn btn-primary" ng-click="onModalInputTest()">TestModal</button>
    <div class="alert-danger">{{inputText}}</div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="toasterPop()">popToaster</button>
        <button class="btn btn-default" ng-click="toasterClear()">clearToaster</button>
    </div>

    <div>
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" datepicker-options="gOptions.datePicker"
            ng-required="true" is-open="isDatePickerOpen" close-text="关闭"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="onClickDatePicker()"><i class="glyphicon glyphicon-calendar"></i> </button>
            </span>
        </p>
    </div>


    <div>
        <user-typehead which-role="player" on-selected="updateSelectedUser(user)" glyphicon-class="glyphicon-ok"></user-typehead>
    </div>

    <div>
        <idea-typehead on-selected="updateSelectedIdea(idea)"></idea-typehead>
    </div>

    <div>
        <project-typehead on-selected="updateSelectedProject(project)"></project-typehead>
    </div>

    <div>
        <image-picker button-label='"图片"' mutiple="true" on-finished='onFileUploadFinished(images)' type='team'>
    </div>

    <div>
        <team-typehead on-selected="updateSelectedTeam(team)"></team-typehead>
    </div>

    <div>
        <input id="uploadTestId" type="file" ng-model="file">
        <button class="btn btn-primary" ng-click="handleUpload()">Upload</button>
    </div>

    <div>
        <h4>camps user head test</h4>
        <camps-user-head user="testuser" width="44" height="44"></camps-user-head>
        <camps-user-head user="{nickname:'Jim Green'}" width="60" height="60"></camps-user-head>
    </div>

</div>



























