<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <h3 class="col-md-offset-2 col-md-10">用户信息</h3>
        </div>
        <div class="form-group">
            <label for="id-camps-profile-nickname" class="col-md-2 control-label ">昵称:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="id-camps-profile-nickname" placeholder="昵称" ng-model="form.nickname">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-2 control-label ">头像URL:</label>
            <div class="col-md-1">
                <img class="img-circle" ng-src="{{form.headImgUrl}}" alt="Head" width="60">
            </div>
            <div class="col-md-9">
                <image-picker button-label='"添加图片"' on-finished='onImagesPicked(images)' type='user'></image-picker>
            </div>
        </div>
        <div class="form-group">
            <label for="id-camps-profile-name" class="control-label col-md-2">真实姓名:</label>
            <div class="col-md-10">
                <input type="text" class='form-control' id="id-camps-profile-name" height="200" ng-model="form.name" placeholder="真实姓名"></input>
            </div>
        </div>
        <div class="form-group">
            <label for="id-camps-profile-skill" class="control-label col-md-2">技能:</label>
            <div class="col-md-10">
                <input type="text" class='form-control' id="id-camps-profile-skill" height="200" ng-model="skills" placeholder="技能,逗号分隔"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">角色:</label>
            <div class="col-md-10 btn-group" data-toggle="buttons">
                <input type="checkbox" autocomplete="off" ng-model="roles.playerRole">队员
                <input type="checkbox" autocomplete="off" ng-model="roles.coachRole">教练
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary" ng-click="onSubmitButton()">提交修改</button>
            </div>
        </div>
    </form>
</div>

