<div class="container">
    <div class="scrollable">
        <div class="scrollable-header">
            <h2 class="text-center">小测试：判断题</h2>
        </div>

        <div class="scrollable-content">
            <div class="list-group">
                <div class="list-group-item clearfix">
                    <div class="col-xs-2">序号</div>
                    <div class="col-xs-7 text-center">内容</div>
                    <div class="col-xs-3">真的吗？</div>
                </div>
                <div class=" list-group-item clearfix" ng-repeat="item in sentences">
                    <div class="col-xs-2">{{$index + 1}}</div>
                    <div class="col-xs-7 text-center">{{item.sentence}}</div>
                    <div class="col-xs-3">
                        <ui-switch ng-model="results[$index]"></ui-switch>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-xs-8">
                    <h3>&nbsp;&nbsp;{{message}}</h3>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary" ng-click="submit()">查看结果</button>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <p>2017</p>
            </div>

        </div>
    </div>
</div>