<div class="bg-primary container-fluid camps-head-strip">
    <div class="camps-parent-width">
        <h1 class="text-center">创意  {{theIdea.name}}</h1>
        <h4 class="text-center">提交人: {{theIdea.innovator.nickname}}</h4>
    </div>
</div>

<div class="container">
    <row>
        <row>
            <button ng-show="isEditing" class="btn btn-default pull-right camps-team-editing-button" ng-click="onCancelButton()">取消</button>
            &nbsp;&nbsp;
            <button class="btn btn-primary pull-right camps-team-editing-button" ng-click="onEditButton()">{{isEditing ? "保存修改" : "编辑基本信息"}}</button>
        </row>
    </row>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-1">&nbsp;标题&nbsp;</th>
                <th class="text-center col-md-11">内容</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>背景</td>
                <td>
                    <span ng-hide="isEditing"><span ng-bind-html="form.background | htmlConent"></span></span>
                    <span ng-show="isEditing">
                        <summernote class='form-control' config="summerOption" data-on-image-upload="imageUpload(files, editorB)"
                                    ng-model="form.background" editor="editorB" editable="editableB"></summernote>
                    </span>
                </td>
            </tr>
            <tr>
                <td>解决的问题</td>
                <td>
                    <span ng-hide="isEditing"><span ng-bind-html="form.painpoint | htmlConent"></span> </span>
                    <span ng-show="isEditing">
                        <summernote class='form-control' config="summerOption" on-image-upload="imageUpload(files, editorP)"
                                    ng-model="form.painpoint" editor="editorP" editable="editableP"></summernote>
                    </span>
                </td>
            </tr>
            <tr>
                <td>解决方案</td>
                <td>
                    <span ng-hide="isEditing"><span ng-bind-html="form.solution | htmlConent"></span> </span>
                    <span ng-show="isEditing">
                        <summernote class='form-control' config="summerOption" data-on-image-upload="imageUpload(files, editorS)"
                                    ng-model="form.solution" editor="editorS" editable="editableS"></summernote>
                    </span>
                </td>
            </tr>
            <tr>
                <td>人力资源</td>
                <td>
                    <span ng-hide="isEditing">{{form.hrRequirement}}</span>
                    <span ng-show="isEditing">
                        <textarea class='form-control' cols="30" rows="2" ng-model="form.hrRequirement" ></textarea>
                    </span>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td>复用组件</td>-->
                <!--<td>{{theIdea.relatedAssets}}</td>-->
            <!--</tr>-->
            <tr>
                <td>截止日期</td>
                <td>
                    <span ng-hide="isEditing">{{form.deadline | date:"yyyy-MM-dd"}}</span>
                    <span ng-show="isEditing">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="form.deadline"
                                   datepicker-options="gOptions.datePicker"
                                    ng-required="true" is-open="isDatePickerOpen" close-text="关闭"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="isDatePickerOpen=!isDatePickerOpen"><i
                                        class="glyphicon glyphicon-calendar"></i> </button>
                            </span>
                        </p>
                    </span>
                </td>
            </tr>
            <tr>
                <td>咨询师</td>
                <td>
                    <span>{{form.consultant.nickname}}</span>
                    <span ng-show="isEditing">
                        <user-typehead which-role="coach" on-selected="form.consultant = user;"></user-typehead>
                    </span>
                </td>
            </tr>

            <tr ng-repeat="prj in theIdea.projects">
                <td rowspan={{theIdea.projects.length}} ng-if="$index == 0">关联项目</td>
                <td>{{prj.name}}</td>
            </tr>

        </tbody>
    </table>
</div>