<div class="bg-primary container-fluid camps-head-strip">
    <div class="camps-parent-width">
        <h1 class="text-center">创意 让世界变得更美好 </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="camps-bordered">
                浏览大家提交的创意,有些已经在项目实现中哦。
            </div>
            <button class="btn btn-primary center-block camps-idea-submit" ui-sref="nav.createIdea">提交你的创意</button>
        </div>
        <div class="col-md-6">
            <div class="" ng-repeat="item in ideas">
                <div class="media camps-media-card" ng-click="handleItemClick(item)">
                    <a href="#" class="media-left">
                        <img ng-src="{{item.imageUrl}}" alt="Img">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{item.name}}
                        </h4>
                        <h5>- {{item.innovator.nickname}}</h5>
                        <span ng-bind-html="item.solution | htmlConent"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <idea-typehead on-selected="handleItemClick(idea)" glyphicon-class="glyphicon-search"></idea-typehead>
        </div>
    </div>

</div>