<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <h3 class="col-md-offset-2 col-md-10">创新点</h3>
        </div>
        <div class="form-group">
            <label for="id-camps-create-idea-name" class="col-md-2 control-label ">名字:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="id-camps-create-idea-name" placeholder="名字" ng-model="form.name">
            </div>

        </div>
        <div class="form-group">
            <label for="id-camps-create-idea-background" class="control-label col-md-2">背景:</label>
            <div class="col-md-10">
                <summernote class='form-control' id="id-camps-create-idea-background" height="200" ng-model="form.background" placeholder="创意背景"></summernote>
            </div>
        </div>
        <div class="form-group">
            <label for="id-camps-create-idea-problem" class="control-label col-md-2">解决的问题:</label>
            <div class="col-md-10">
                <summernote class='form-control' id="id-camps-create-idea-problem" height="200" ng-model="form.painpoint" placeholder="要解决的问题描述"></summernote>
            </div>
        </div>
        <div class="form-group">
            <label for="id-camps-create-idea-solution" class="control-label col-md-2">解决方案:</label>
            <div class="col-md-10">
                <summernote class='form-control' id="id-camps-create-idea-solution" height="300" ng-model="form.solution" placeholder="解决方案"></summernote>
            </div>
        </div>

        <div class="form-group">
            <label for="id-camps-create-idea-deadline" class="col-md-2 control-label ">截止日期:</label>
            <div class="col-md-10">
                <div class="camps-datepicker">
                    <p class="input-group">
                        <input type="text" id="id-camps-create-idea-deadline" class="form-control" uib-datepicker-popup ng-model="form.deadline"
                               datepicker-options="gOptions.datePicker"
                               ng-required="true" is-open="isDatePickerOpen" close-text="关闭"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="isDatePickerOpen=!isDatePickerOpen"><i
                                class="glyphicon glyphicon-calendar"></i> </button>
                    </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">行业领域:</label>
            <div class="col-md-10">
                <div class="btn-group" uib-dropdown is-open="isDropdownOpen">
                    <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                        {{!!form.sector ? form.sector : "下拉选择"}} <span class="pull-right caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="sectorValue in sectorValues"><a ng-click="form.sector=sectorValue">{{sectorValue}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <labbel>
                        <input type="checkbox" ng-model="accepted"> 我理解并遵守 <a href="#">创新点协议</a>的内容
                    </labbel>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" ng-click="onSaveButton()">保存草稿</button>
                &nbsp;
                <button class="btn btn-primary" ng-click="onSubmitButton()">提交创意</button>
            </div>
        </div>
    </form>
</div>

