.meeting-background {
    background-color: #ffffff;
}

.meeting-bottom-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.meeting-bottom-bar button {
    width: 50%;
    border-radius: 0px;
}

.meeting-conversation-text {
    font-size: large;
    color: #000000;
}

.on-table {
    width:5vw;

}