<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a ui-sref="nav.idea" class="navbar-brand">LOGO</a>
    </div>

    <div uib-collapse="navCollapsed" class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active:$state.name.endsWith('idea')}"><a ui-sref="nav.idea">创意</a></li>
            <li ng-class="{active:$state.name.endsWith('team')}"><a ui-sref="nav.team">团队</a></li>
            <li ng-class="{active:$state.name.endsWith('project')}"><a ui-sref="nav.project">项目</a></li>
            <li ng-class="{active:$state.name.endsWith('coach')}"><a ui-sref="nav.coach">教练</a></li>
            <li ng-class="{active:$state.name.endsWith('asset')}"><a ui-sref="nav.asset">组件</a></li>
            <li ng-hide="true">
                <a id="r-nav-id-name" ui-sref="updateprofile">你好, xyzh.comcccccccc</a>
            </li>

            <li><button class="btn btn-primary navbar-btn" type="button" ng-show="true" ng-click="login()">登录</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
    </div>
    <!-- </div> -->
</nav>

<div class="camps-navbar-height"></div>

<ui-view></ui-view>

<footer class="camps-nav-footer">
    <div class="container">
        <div class="row">
            <p>©2016 武汉星云智慧科技有限公司</p>
        </div>

        <div class="row">
            <p>鄂ICP备16008344号</p>
        </div>
    </div>

</footer>