.camps-nav-logo {
    width: 24px;
    height: 36px;
    float: left;
    margin-left: 8px;
    margin-top: 5px;
}

.camps-nav-logo-name {
    font-weight: 500;
    font-size: large;
    color: #fd8f26;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.camps-navbar {
    margin: 0px;
}

.camps-nav-user {
    display: block;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 20px;
    font-size: medium;
    color: #9b9b9b;
}

.camps-nav-user-icon {
    color: #8d8d8d;
}

.camps-navbar-placehoder {
    margin-top: 0px;
    height:50px;
}

.camps-nav-footer{
    margin-top: 60px;
    width: 100%;
    padding: 8px 0px;
    color: #6B7C93;
    text-align: center;
    border-top: #6B7C93 1px solid;
    background-color: #131418;
}

.camps-nav-mast {
    height: 210px;
    background-image: url("../../images/big-city-skyscrapers-and-buildings-in-the-evening-picjumbo-com.jpg");
}

.camps-nav-mast h2{
    color: white;
    display: block;
    top: 80px;
    position: relative;
    margin: 0px;
}

.camps-nav-mast-mask {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.camps-nav-menu {
    font-size: 16px;
    text-align: left;
    height: 78px;
    /* Rectangle 5: */
    background: #FFFFFF;
    border-bottom: 1px solid #979797;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.40);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.40);
    margin-bottom: 5px;
}

.camps-nav-menu-item {
    padding-top: 25px;
    width: 150px;
    height: 78px;
}

.camps-nav-menu-item a:active,a:link.camps-nav-menu-item-selected, a:visited.camps-nav-menu-item-selected{
    text-decoration: none;

    color: #fd8f26;
    padding-bottom: 10px;
    border-bottom: 2px solid #fd8f26;
}

.camps-nav-menu-item a:hover{
    text-decoration: none;
}

.camps-nav-menu-item a:link,a:visited {
    text-decoration: none;
}
