<nav class="navbar navbar-inverse navbar-fixed-top camps-navbar" role="navigation">
    <div class="navbar-header">
        <a ui-sref="nav.idea" >
            <div>
                <img class="camps-nav-logo" src="./images/logo.png" alt="LOGO">
                <span class="camps-nav-logo-name">CAMPRO 开菠萝</span>
            </div>
        </a>
    </div>
    <div class="pull-right">
            <span class="camps-nav-user">
                <span class="glyphicon glyphicon-user camps-nav-user-icon"></span>
                <span ng-hide="!hasLoggedIn">
                <a id="r-nav-id-name" ui-sref="nav.profile">你好, {{currentUser.nickname}}</a>
                </span>
                <span>
                    <a class="" ng-show="!hasLoggedIn" ng-click="goLogin()">登录</a>
                    <a class="" ng-show="hasLoggedIn" ng-click="logOut()">登出</a>
                </span>
            </span>
    </div>
</nav>

<div class="camps-navbar-placehoder"></div>

<div class="camps-nav-mast" ng-show="!!$state.current.data.title">
    <div class="camps-nav-mast-mask">
        <h2 class="text-center">{{$state.current.data.title}}</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="camps-nav-menu">
            <div class="col-xs-1 col-xs-offset-3">
                <div class="camps-nav-menu-item">
                    <a ui-sref="nav.idea" ng-class="{'camps-nav-menu-item-selected':$state.current.data.nav == 'idea'}">创意</a>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="camps-nav-menu-item">
                    <a ui-sref="nav.project" ng-class="{'camps-nav-menu-item-selected':$state.current.data.nav == 'project'}">项目</a>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="camps-nav-menu-item">
                    <a ui-sref="nav.team" ng-class="{'camps-nav-menu-item-selected':$state.current.data.nav == 'team'}">团队</a>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="camps-nav-menu-item">
                    <a ui-sref="nav.coach" ng-class="{'camps-nav-menu-item-selected':$state.current.data.nav == 'coach'}">教练</a>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="camps-nav-menu-item">
                    <a ui-sref="nav.message" ng-class="{'camps-nav-menu-item-selected':$state.current.data.nav == 'message'}">私信</a>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="camps-nav-menu-item">
                    <a ui-sref="nav.asset" ng-class="{'camps-nav-menu-item-selected':$state.current.data.nav == 'asset'}">组件</a>
                </div>
            </div>
        </div>
    </div>
</div>


<ui-view></ui-view>

<footer class="camps-nav-footer">
    <div class="container">
        <div class="row">
            <span>©2016 星云智慧 版权所有</span> | <span>鄂ICP备16008344号</span>
        </div>
    </div>

</footer>
