<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <h3 class="col-md-offset-2 col-md-10">新建团队</h3>
        </div>
        <div class="form-group">
            <label for="id-camps-create-team-name" class="col-md-2 control-label ">名字:</label>
            <div class="col-md-10">
                <input type="text" class="form-control camps-short-field" id="id-camps-create-team-name" placeholder="名字" ng-model="form.name" ng-change="onNameChange(form.name)">
                <span ng-show="nameAvailable"><span class="glyphicon glyphicon-ok text-success" ></span><span class="text-success">该名字可用</span></span>
                <span ng-hide="nameAvailable"><span class="glyphicon glyphicon-ok text-error" ></span><span class="text-success">请输入可用的团队名,不能与其他团队重复。</span></span>
            </div>

        </div>
        <div class="form-group">
            <label for="id-camps-create-team-description" class="control-label col-md-2">描述:</label>
            <div class="col-md-10">
                <textarea class='form-control col-md-10' id="id-camps-create-team-description" cols="30" rows="5" ng-model="form.description" placeholder="请输入详细的团队描述,人员背景,目标,机缘等等"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label ">队长:</label>
            <div class="col-md-10">
                <camps-user-head user="form.members[0]" width="60" height="60"></camps-user-head>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <labbel>
                        <input type="checkbox" ng-model="form.accepted"> 我理解并遵守 <a href="#">团队组织协议</a>的内容
                    </labbel>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <button class="btn btn-primary" ng-click="onSubmitButton()">创建团队</button>
            </div>
        </div>
    </form>
</div>

