<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9 camps-card-space">

            <div class="" ng-repeat="item in teams">
                <div class="camps-media-card" ng-click="onTeamClicked(item)">
                    <img ng-src="./images/team.png" alt="Img">

                    <div class="camps-media-card-body">
                        <div class="camps-media-card-title">
                            <h1 class="camps-text-highlight-color">
                                {{item.name}}
                            </h1>
                        </div>
                        <div class="camps-media-card-leader">
                            <h2>队长 <span class="camps-text-highlight-color">{{item.leader.name}}</span></h2>
                        </div>
                        <div class="camps-media-card-short-line"></div>
                        <div class="camps-media-card-description">
                            <h2 ng-bind="item.description" maxlength="10"></h2>
                        </div>
                    </div>
                    <div class="camps-media-card-footer">
                            <span class="glyphicon glyphicon-star"></span> <span>249</span> &nbsp; <span class="camps-annotation">(经验值)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 camps-panel-space">
            <team-typehead glyphicon-class="glyphicon-search" on-selected="onTeamClicked(team)"></team-typehead>
            <button class="btn btn-primary center-block camps-panel-submit" ui-sref="nav.createTeam">创建团队</button>
        </div>
    </div>
</div>