<div class="bg-primary container-fluid camps-head-strip">
    <div class="camps-parent-width">
        <h1 class="text-center">团队 真正的teamwork </h1>
    </div>
</div>

<div class="container">
    <div class="row" class="camps-team-submit-panel">
        <div class="col-md-3">
            <h3 class="center-block">团队列表</h3>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary center-block camps-team-submit" ui-sref="nav.createTeam">创建团队</button>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="team in teams">
            <a class="col-md-4">
                <div ng-click="onTeamClicked(team)">
                    <div class="thumbnail">
                        <img src="http://img3.redocn.com/20120407/Redocn_2012040706593740.jpg" alt="TEAM">
                        <h4>{{team.name}}</h4>
                        <p>{{team.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>