.camps-image-popover{
    max-height: 318px;
    max-width: 428px; 
    width: 428px;
    height: 318px;
}

.camps-image-remove{
    color: red;
    float: right;
    z-index: 3;
    margin-right: -15px;
    margin-top: 75px;
}

.camps-image-check{
    color: green;
    float: right;
    z-index: 1;
    margin-top: -5px;
    margin-right: -5px;
}

.camps-image-uncheck{
    color: green;
    float: right;
    z-index: 1;
    margin-top: -5px;
    margin-right: -5px;
}

.camps-image-panel{
    width: 400px;
    height: 300px;
}

.camps-image-panel-top{
    width: 400px;
    height: 100px;
}

.camps-image-panel-uploads{
    overflow-x: scroll;
    height: 100px;
    width: 300px;
}

.camps-image-panel-bottom{
    width: 400px;
    height: 200px;
}

.camps-image-panel-card{
    cursor: pointer;
    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.camps-image-panel-selected{ 
    width: 80px;
    height: 80px;
}

.camps-image-panel-card>img,.camps-image-panel-card>div>img{ 
    float: right;
    width: 80px;
    height: 80px;
    position: absolute;
}

.camps-image-panel-control{
    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.camps-image-panel-upload {
    cursor: pointer;
    z-index: 1;
    margin-top: -80px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.camps-image-panel-local{
    line-height: 80px;
    border-style: dashed;
    border-width: 1px;
    text-align: center;
}